---
layout: page
title: Archive
---

{% for post in site.posts %}
{% unless post.next %}
<h2 class="page-data-year">{{ post.date | date: '%Y' }}</h1>
{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}
<h2 class="page-data-year">{{ post.date | date: '%Y' }}</h1>
{% endif %}
{% endunless %}

<a href="{{ post.url }}" target="_self"> 
  {{ post.title }}<span style="float:right">{{ post.date | date:'%m月%d日' }}</span>
</a
><br/>

{% endfor %}
